* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$hf-color: rgb(52, 51, 51);
$hf-color-light: rgb(255, 255, 255);
$main-color: rgb(91, 91, 91);
$bo-color: rgb(223, 0, 0);
$icon-color: rgb(29, 173, 0);
$name-color: rgba(110, 110, 110, 0.5);

@mixin hf($jus, $align) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
  background-color: $hf-color;
  color: $hf-color-light;
}

h1 {
  font-size: 2.5rem;
  padding: 1.5rem 0;
  @include hf(center, center);
}

main {
  background-color: $main-color;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  div {
      @include hf(space-between, end);
      height: 300px;
      width: 300px;
      margin: auto;
      border-radius: 10px;
      padding: 15px;
      
    &:nth-child(1) {
      background-image: url("../../assets/student-1.jpeg");
    }
    &:nth-child(2) {
      background-image: url("../../assets/student-2.jpeg");
    }
    &:nth-child(3) {
      background-image: url("../../assets/student-3.jpeg");
    }
    &:nth-child(4) {
      background-image: url("../../assets/student-4.jpeg");
    }
    &:nth-child(5) {
      background-image: url("../../assets/student-5.jpeg");
    }
    &:nth-child(6) {
      background-image: url("../../assets/student-6.jpeg");
    }
    &:nth-child(7) {
      background-image: url("../../assets/student-7.jpeg");
    }
    &:nth-child(8) {
      background-image: url("../../assets/student-8.jpeg");
    }
    &:nth-child(9) {
      background-image: url("../../assets/student-9.jpeg");
    }
    i{
        color: $icon-color;
        font-size: 2rem;

    }
    span{
        background-color: $name-color;
        padding: 5px;
    }
  }
}

footer {
  padding: 2rem 0;
  @include hf(space-around , center);
  position: fixed;
  bottom: 0;
  color: $hf-color-light;
  width: 100%;
  div{
      @include hf(center,   center);
      flex-direction: column;
      i{
            font-size: 2rem;
            padding-bottom: 15px;
            color: $icon-color;
      }
      input{
            border: none;
            padding: 0.5rem 2rem;
            font-size: 1.5rem;
            border-radius: 10px;
            background-color: $bo-color;
            color: $hf-color-light;
      }
  }
}

